@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}
.text-black{
  color: #000;

}
svg {
  margin-right: 5px;
}

.form {
  width: 350px !important;
  margin: auto;
}

.img-300 {
  width: 300px;
  height: 300px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.btnTeal {
  border: 1px solid teal;
  border-radius: 5px;
  background-color: teal;
  color: white;
}

.btnPurple {
  border: 1px solid purple;
  border-radius: 5px;
  background-color: purple;
  color: white;
}
.bg-custom {
  background: linear-gradient(to right, #f27e4a, #77aad9);
}
.btn w-100 btn-secondary{
  background-color: #f27e4a;
}
p{
  color: #f27e4a;
}
button:hover {
  color: black !important;
}

.title {
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.description {
  height: 54px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

@media (max-width: 576px) {
  .card {
    max-width: 22rem;
    margin: auto;
  }
}

/*  Carousel  */

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}
.nav-item black-color {
  color: black;
}
.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
.form-control
{
  border: 3px solid #808080;
  border-radius: 10px;
}
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.img-display{
  height: 300px !important;
  object-fit: cover;
}

.custom-toggler-icon {
  color: black; 
}